<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Subject
        </div>
        <div class="card-body">
            <form (submit)="addSubject(name,credits)">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" required #name>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Credits" required #credits>
                </div>
                <div class="d-grid gap-2">
                <button class="btn btn-primary btn-block">
                    Add
                </button>
                </div>
            </form>
        </div>
    </div>
</div>
